@media (min-width: 992px) and (max-width: 1082px){
    .box-l-c{
        margin-right: -5px;
    }
}
@media (max-width: 768px){
	.bar-top-left{
		display: none;
	}
	#container > .row{
		margin: 0px;
	}
}
@media (max-width: 992px) and (min-width: 768px){
	#container > .row > .cod-md-2{
		display: none;
	}
	.box-l-c{
		margin-right: 4px;
	}
	.box-info .box-link .box-l-c > a > .tl{
		visibility: hidden;
	}
}
@media (max-width: 533px){
	.search-bar .search-btn{
		display: none;
	}
	.search-input-select input.search-txt{
		width: 60%;
	}
	.search-bar .selectBox{
		width: 40%;
	}
}
@media(min-width: 533px){
	.search-bar .search-input-select{
		border-right: none;
	}
}
@media(max-width: 575px){
	.policy-block .policy-block-left ul.link{
		display: none;
	}
}
@media (max-width: 690px) {
    .tableparameter{
        display: none;
    }
    .characteristics{
        width: 100% !important;
    }
}
@media (max-width: 1199px) {
	#category .products-listing > .row {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-flow: row wrap;
		-moz-flex-flow: row wrap;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
		-webkit-justify-content: left;
		-moz-justify-content: left;
		-ms-justify-content: left;
		-webkit-justify-content: left;
	}
	#footer .policy-block .policy-block-left {
		width: 66.66666667%;
	}
	.policy-block .policy-block-right {
		padding-right: 15px;
		padding-left: 15px;
	}
	.policy-block .policy-block-left ul.about,
	.policy-block .policy-block-left ul.buyer,
	.policy-block .policy-block-left ul.link {
		width: 33.33333333%;
		padding-left: 15px;
		padding-right: 15px;
	}
	.box-l-c {
		margin-right: 0;
	}
	li.filter-manu, li.remove-filter {
		display: none;
	}
}

@media (min-width: 768px) and (max-width: 1199px) {
	/*---------------responsive table--------------------*/
	#category .product-card__rating__stars {
		float: none;
	}
	.box-l-c {
		margin-right: 4px;
	}
	.policy-block .policy-block-left ul.link li > a.payment,
	.policy-block .policy-block-left ul.link li > a.transaction {
		width: 100%;
	}
	.content_item .overflow_box a.img_product {
		/*min-height: 70px;*/
	}
	.content_item .overflow_box a.img_product img {
		display: block;
	}
	.mota-them ul li span {
		font-size: 0;
	}
	.menuItem strong {
		position: relative;
		display: block;
	}
	.menuItem span > i {
		position: absolute;
		top: 7px;
		right: 10px;
		margin-top: 0;
	}
	.nav-main > li > strong > a {
		white-space: normal;
	}
	.box-info .box-link .box-l-c > a > .tl {
		font-size: 0;
	}
	/*---------------end responsive table--------------------*/
	/*---------------category table----------------------*/
	.pagination-block .other-filters li,
	.filter-manu .title-manu,
	.remove-filter .title-manu {
		/*min-height: 70px;*/
	}
	#category .box_product .content_item .overflow_box {
		min-height: 376px;
		text-align: center;
	}
	/*---------------end category table----------------------*/
}
@media (min-width: 992px) and (max-width: 1199px)  {
	/*---------------responsive table Horizontal--------------------*/
	#footer .policy-block {
		padding-left: 15px;
		padding-right: 15px;
	}
	.col-left  {
		width: 22% !important;
		max-width: 220px;
	}
	.filter-list.absolute {
		width: 100%;
	}
	.col-right {
		width: 78% !important;
	}
	.hidden-md {
		display: none;
	}
	/*---------------end responsive table Horizontal--------------------*/
}
@media (min-width: 768px) and (max-width: 991px)  {
	/*---------------responsive table vertical--------------------*/
	#footer .policy-block {
		padding-left: 15px;
		padding-right: 15px;
	}
	/*---------------sp category-----------------------*/
	.menu-header-fixed .box-info {
		display: none;
	}
	.col-left  {
		display: none;
	}
	.col-right {
		width: 100% !important;
		margin-right: 0 !important;
	}
	.hidden-sm, .nav-category, .menu-fixed {
		display: none;
	}
	.container-fluid > .row {
		margin: 0;
	}
	/*---------------end sp category-------------------*/
	/*---------------end responsive table vertical--------------------*/
}

@media (max-width: 767px) {
	/*--------------responsive mobile---------------------*/
	.menu-fixed {
		display: none !important;
	}
	a.quick-view.quickview {
	    display: none !important;
	}
	.home-content {
		display: none;
	}
	/*------------------end----------------------------*/
	/*-------------responsive mobile category----------------*/
	#category .col-left,
	#category .filter-manu ,
	#category .box-filter-wrapper ,
	#category .remove-filter{
		display: none;
	}
	#category .col-right {
		width: 100%;
		float: none;
		clear: both;
	}
	#header.menu-header-fixed {
		display: none;
	}
	.nav-left-homepage , .list-menu , div#menu{
		display: none;
	}
	#category .other-filters li {
		width: 100% !important;
	}
	.container-fluid > .row {
		margin-left: 15px;
		margin-right: 15px;
	}
	.hidden-sm , .hidden-sx{
		display: none;
	}
	.search-autocomplete {
        width: 100%;
    }
    #category-result {
    }
    .image-for-search {
        width: 40%;
        float: left;
        margin-top: 10px;
    }
    .des-pro {
        float: right;
        width: 60%;
        margin-top: 10px;
        padding-right: 10px;
        padding-left: 15px;
    }
	/*-----------end responsive mobile category--------------*/
}
@media (max-width: 500px) {
	.box_product {
		float: none;
		width: 100%;
	}
	.breadcrumb_detail > div.br.link {
		padding-left: 0;
	}
}
@media (max-width: 479px) {
	.box-info .box-link .box-l-c > a > .tl {
		font-size: 0;
	}
}