@media(max-width: 1200px){
	#productproperties .box_product{
		width: 25%;
	}
	.col-right{
		width: 100% !important;
	}
}
@media(max-width: 920px){
	#productproperties .box_product{
		width: 33.3%;
	}
}
@media(max-width: 768px){
	#productproperties .box_product{
		width: 50%;
	}
}
@media(max-width: 500px){
	#productproperties .box_product{
		width: 100%;
	}
}