@media (max-width: 991px) {
    .choosemarket{
        display: none;
    }
    .price_sale{
        width: 62%;
    }
}
@media (max-width: 567px) {
    .picture, .price_sale, .ppu_tab_left, .ppu_tab_right{
        width: 100%;
    }
    .ppu_tab_left_content{
        border-right: none;
    }
    .ppu_tab_left{
        min-height: 300px;
    }
}